/* common style */
*{
    margin: 0px;
    padding: 0px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.red{
    color: red;
}
.white{
    color: white;
}
.gray{
    color: rgb(190, 207, 208);
}
/* nav style */
.nav-back{
    background-color: rgba(172, 166, 166, 0.5);
}
.logo img{
    position: absolute;
    top:15px;
}
.logo p{
    color: aqua;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    padding:30px 0;
}
.nav-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.menu ul{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    
}
.menu {
    text-align: right;
}
.menu li{
    list-style: none;
}
.menu a{
    cursor: pointer;
    text-decoration: none;
    padding: 0 15px;
    font-size: 20px;
    color: black;

}


/* banner style */
.banner-back{
    background-image: url(./asset/image/background.jpg), linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
    height: 100vh;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    
}
.banner-back h1{
    text-align: center;
    font-size: 90px;
    padding-top: 100px;
    font-weight: bold;
}
.banner-back p{
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}
.two{
    padding:18px 30px;
    border: none;
    margin-left: 10px;
}
.one{
    background-color: rgb(212, 30, 30);
    padding:18px 30px;
    border: none;
    margin-left:480px;
}
/* services style */
.service-back{
    background-image: url(./asset/image/footer-bg.png), linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.9));
    /* , linear-gradient(45deg, rgba 0, 0, 0,0.4, rgba 0, 0, 0, 0.5 */
    height: 150vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}   
.service-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-flex img{
    width: 100px;
}
.service-content{
    width: 50%;
    margin-left: 40px;
    margin-top: 150px;
    
}
.service-content h1{
    font-size: 40px;
}

.service-btn{
    padding:15px 30px;
    background-color: white;
    border: 1px solid white;
    border-radius: 50px;
    margin-right:150px;
}
.btnt{
    margin-bottom: 20px;
    padding: 15px 30px;
    background-color: white;
    border: 1px solid white;
    border-radius: 50px;
    font-weight: bold;
    font-size: 18px;
}
.sp{
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
}
ol{
    margin: 0 0 30px 15px;
    font-weight: bold;
    font-size: 18px;
}
.img-content-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile{
     border-radius: 50%;
     margin-right: 20px;
}
.name{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}
.position{
    font-size: 18px;
    font-weight: bold;
}

.card-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    margin-right: 40px;
}
.card-left, .card-right{
    display: flex;
   
    gap: 15px;
}
.card-top, .card-bottom{
    width: 300px;
    height:250px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding-top: 90px;
}
.card-top h3, .card-bottom h3{
    padding-top: 20px;
}

/* consult style */

.rel{
    position: absolute;
    margin-top:-90px;
    margin-left: 130px;
}
.consult-back{
    width: 1100px;
    height: 180px;
    background-color: rgb(233, 10, 10);
    border-radius: 15px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.rel img{
    width: 100px;
    padding-left: 40px;
}
.free-flex{
    padding-left: 20px;
}
.free{
   
    font-size: 12px;
    font-weight: bold;
}
.tel{
    font-size: 30px;
    font-weight: bold;
}
.cbtn{
    padding: 15px 35px;
    border-radius: 30px;
margin-right: 20px;
}

/* blog style */
.bh1{
    margin-top:120px;
    text-align: center;
    font-size: 50px;
}
.bp{
    margin: 20px 0 50px 0px;
    font-size: 22px;
    text-align: center;
}
.blog-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box{
    width: 350px;
    height: 420px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 20px gray;
}
.box img{
    width: 350px;
    margin: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box p, .box h3{
    text-align: center;
}
.box h3{
    font-size: 22px;
    padding: 20px 20px 10px 10px;
}
.box p{
    font-size: 18px;
    padding: 10px 20px 30px 10px;
}

/* foot style */
.foot-back{
    background-image: url(./asset/image/footer-bg.png), linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.9));
    height: 60vh;
    
}
.foot-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    padding-top: 100px;
}
.foot-icon p{
    line-height: 1.5em;
}
.foot-icon{
    padding-top: 20px;
}
.foot-icon img{
    padding-bottom: 10px;
}
.foot-flex h3{
    padding-bottom: 30px;
    font-weight: bold;
}

.foot-icon p, .foot-link p, .foot-support p{
    padding-bottom: 10px;
    
}
.foot-icon i{
    width: 40px;
    height: 30px;
}
.foot-back hr{
}
.foot-foot{
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}
















