/* common style */
*{
    margin: 0px;
    padding: 0px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.red{
    color: red;
}
.white{
    color: white;
}
.gray{
    color: rgb(190, 207, 208);
}
/* nav style */



/* banner style */



/* services style */




/* consult style */




/* blog style */



/* foot style */